---
// src/pages/internal/index.astro
---
<html>
  <body>
    <h1>Area Internal Life at PIH</h1>
    <p>Selamat datang di pusat dokumen Handover Batch 1.</p>
    <ul>
      <li><a href="/internal/sop">Lihat SOP Teknis</a></li>
    </ul>
  </body>
</html>